In [27]:
import pandas as pd

In [28]:
df = pd.read_csv('Resourse/Student_performance_data _.csv')
df

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [29]:
df = df.drop(columns=['StudentID'])

In [30]:
df['Gender'] = df['Gender'].replace({0: 'male', 1: 'female'})
df

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,17,female,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,18,male,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,15,male,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,17,female,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,17,female,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,18,female,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,17,male,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,16,female,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,16,female,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,16,female,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [31]:
df['Ethnicity'] = df['Ethnicity'].replace({0: 'caucasian', 1: 'african-american', 2: 'asian', 3: 'other'})
df

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,17,female,caucasian,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,18,male,caucasian,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,15,male,asian,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,17,female,caucasian,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,17,female,caucasian,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,18,female,caucasian,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,17,male,caucasian,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,16,female,caucasian,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,16,female,african-american,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,16,female,caucasian,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [32]:
df['ParentalEducation'] = df['ParentalEducation'].replace({0: 'none', 1: 'high-school', 2: 'some-college', 3: 'bachelors', 4: 'higher'})
df

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,17,female,caucasian,some-college,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,18,male,caucasian,high-school,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,15,male,asian,bachelors,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,17,female,caucasian,bachelors,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,17,female,caucasian,some-college,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,18,female,caucasian,bachelors,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,17,male,caucasian,high-school,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,16,female,caucasian,some-college,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,16,female,african-american,none,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,16,female,caucasian,some-college,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [33]:
df['ParentalSupport'] = df['ParentalSupport'].replace({0: 'none', 1: 'low', 2: 'moderate', 3: 'high', 4: 'very high'})
df

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,17,female,caucasian,some-college,19.833723,7,1,moderate,0,0,1,0,2.929196,2.0
1,18,male,caucasian,high-school,15.408756,0,0,low,0,0,0,0,3.042915,1.0
2,15,male,asian,bachelors,4.210570,26,0,moderate,0,0,0,0,0.112602,4.0
3,17,female,caucasian,bachelors,10.028829,14,0,high,1,0,0,0,2.054218,3.0
4,17,female,caucasian,some-college,4.672495,17,1,high,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,18,female,caucasian,bachelors,10.680555,2,0,very high,1,0,0,0,3.455509,0.0
2388,17,male,caucasian,high-school,7.583217,4,1,very high,0,1,0,0,3.279150,4.0
2389,16,female,caucasian,some-college,6.805500,20,0,moderate,0,0,0,1,1.142333,2.0
2390,16,female,african-american,none,12.416653,17,0,moderate,0,1,1,0,1.803297,1.0
2391,16,female,caucasian,some-college,17.819907,13,0,moderate,0,0,0,1,2.140014,1.0

In [34]:
df['Tutoring'] = df['Tutoring'].replace({0: 'false', 1: 'true'})
df['Extracurricular'] = df['Extracurricular'].replace({0: 'false', 1: 'true'})
df['Sports'] = df['Sports'].replace({0: 'false', 1: 'true'})
df['Music'] = df['Music'].replace({0: 'false', 1: 'true'})
df['Volunteering'] = df['Volunteering'].replace({0: 'false', 1: 'true'})
df

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,17,female,caucasian,some-college,19.833723,7,true,moderate,false,false,true,false,2.929196,2.0
1,18,male,caucasian,high-school,15.408756,0,false,low,false,false,false,false,3.042915,1.0
2,15,male,asian,bachelors,4.210570,26,false,moderate,false,false,false,false,0.112602,4.0
3,17,female,caucasian,bachelors,10.028829,14,false,high,true,false,false,false,2.054218,3.0
4,17,female,caucasian,some-college,4.672495,17,true,high,false,false,false,false,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,18,female,caucasian,bachelors,10.680555,2,false,very high,true,false,false,false,3.455509,0.0
2388,17,male,caucasian,high-school,7.583217,4,true,very high,false,true,false,false,3.279150,4.0
2389,16,female,caucasian,some-college,6.805500,20,false,moderate,false,false,false,true,1.142333,2.0
2390,16,female,african-american,none,12.416653,17,false,moderate,false,true,true,false,1.803297,1.0
2391,16,female,caucasian,some-college,17.819907,13,false,moderate,false,false,false,true,2.140014,1.0

In [35]:
df['GradeClass'] = df['GradeClass'].replace({0.0: 'A', 1.0: 'B', 2.0: 'C', 3.0: 'D', 4.0: 'F'})
df

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,17,female,caucasian,some-college,19.833723,7,true,moderate,false,false,true,false,2.929196,C
1,18,male,caucasian,high-school,15.408756,0,false,low,false,false,false,false,3.042915,B
2,15,male,asian,bachelors,4.210570,26,false,moderate,false,false,false,false,0.112602,F
3,17,female,caucasian,bachelors,10.028829,14,false,high,true,false,false,false,2.054218,D
4,17,female,caucasian,some-college,4.672495,17,true,high,false,false,false,false,1.288061,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,18,female,caucasian,bachelors,10.680555,2,false,very high,true,false,false,false,3.455509,A
2388,17,male,caucasian,high-school,7.583217,4,true,very high,false,true,false,false,3.279150,F
2389,16,female,caucasian,some-college,6.805500,20,false,moderate,false,false,false,true,1.142333,C
2390,16,female,african-american,none,12.416653,17,false,moderate,false,true,true,false,1.803297,B
2391,16,female,caucasian,some-college,17.819907,13,false,moderate,false,false,false,true,2.140014,B

In [36]:
df.to_csv('Resourse/updated_data.csv', index=False)