In [1]:
import pandas as pd

#for the ML model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.cluster import KMeans

In [2]:
# data processing section

In [52]:
df = pd.read_csv('Resourse/Student_performance_data _.csv')
df_model = df.copy()
df

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [4]:
df = df.drop(columns=['StudentID'])

In [5]:
df['Gender'] = df['Gender'].replace({0: 'male', 1: 'female'})
df

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,17,female,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,18,male,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,15,male,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,17,female,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,17,female,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,18,female,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,17,male,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,16,female,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,16,female,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,16,female,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [6]:
df['Ethnicity'] = df['Ethnicity'].replace({0: 'caucasian', 1: 'african-american', 2: 'asian', 3: 'other'})
df

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,17,female,caucasian,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,18,male,caucasian,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,15,male,asian,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,17,female,caucasian,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,17,female,caucasian,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,18,female,caucasian,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,17,male,caucasian,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,16,female,caucasian,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,16,female,african-american,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,16,female,caucasian,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [7]:
df['ParentalEducation'] = df['ParentalEducation'].replace({0: 'none', 1: 'high-school', 2: 'some-college', 3: 'bachelors', 4: 'higher'})
df

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,17,female,caucasian,some-college,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,18,male,caucasian,high-school,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,15,male,asian,bachelors,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,17,female,caucasian,bachelors,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,17,female,caucasian,some-college,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,18,female,caucasian,bachelors,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,17,male,caucasian,high-school,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,16,female,caucasian,some-college,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,16,female,african-american,none,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,16,female,caucasian,some-college,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [8]:
df['ParentalSupport'] = df['ParentalSupport'].replace({0: 'none', 1: 'low', 2: 'moderate', 3: 'high', 4: 'very high'})
df

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,17,female,caucasian,some-college,19.833723,7,1,moderate,0,0,1,0,2.929196,2.0
1,18,male,caucasian,high-school,15.408756,0,0,low,0,0,0,0,3.042915,1.0
2,15,male,asian,bachelors,4.210570,26,0,moderate,0,0,0,0,0.112602,4.0
3,17,female,caucasian,bachelors,10.028829,14,0,high,1,0,0,0,2.054218,3.0
4,17,female,caucasian,some-college,4.672495,17,1,high,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,18,female,caucasian,bachelors,10.680555,2,0,very high,1,0,0,0,3.455509,0.0
2388,17,male,caucasian,high-school,7.583217,4,1,very high,0,1,0,0,3.279150,4.0
2389,16,female,caucasian,some-college,6.805500,20,0,moderate,0,0,0,1,1.142333,2.0
2390,16,female,african-american,none,12.416653,17,0,moderate,0,1,1,0,1.803297,1.0
2391,16,female,caucasian,some-college,17.819907,13,0,moderate,0,0,0,1,2.140014,1.0

In [9]:
df['Tutoring'] = df['Tutoring'].replace({0: 'false', 1: 'true'})
df['Extracurricular'] = df['Extracurricular'].replace({0: 'false', 1: 'true'})
df['Sports'] = df['Sports'].replace({0: 'false', 1: 'true'})
df['Music'] = df['Music'].replace({0: 'false', 1: 'true'})
df['Volunteering'] = df['Volunteering'].replace({0: 'false', 1: 'true'})
df

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,17,female,caucasian,some-college,19.833723,7,true,moderate,false,false,true,false,2.929196,2.0
1,18,male,caucasian,high-school,15.408756,0,false,low,false,false,false,false,3.042915,1.0
2,15,male,asian,bachelors,4.210570,26,false,moderate,false,false,false,false,0.112602,4.0
3,17,female,caucasian,bachelors,10.028829,14,false,high,true,false,false,false,2.054218,3.0
4,17,female,caucasian,some-college,4.672495,17,true,high,false,false,false,false,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,18,female,caucasian,bachelors,10.680555,2,false,very high,true,false,false,false,3.455509,0.0
2388,17,male,caucasian,high-school,7.583217,4,true,very high,false,true,false,false,3.279150,4.0
2389,16,female,caucasian,some-college,6.805500,20,false,moderate,false,false,false,true,1.142333,2.0
2390,16,female,african-american,none,12.416653,17,false,moderate,false,true,true,false,1.803297,1.0
2391,16,female,caucasian,some-college,17.819907,13,false,moderate,false,false,false,true,2.140014,1.0

In [10]:
df['GradeClass'] = df['GradeClass'].replace({0.0: 'A', 1.0: 'B', 2.0: 'C', 3.0: 'D', 4.0: 'F'})
df

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,17,female,caucasian,some-college,19.833723,7,true,moderate,false,false,true,false,2.929196,C
1,18,male,caucasian,high-school,15.408756,0,false,low,false,false,false,false,3.042915,B
2,15,male,asian,bachelors,4.210570,26,false,moderate,false,false,false,false,0.112602,F
3,17,female,caucasian,bachelors,10.028829,14,false,high,true,false,false,false,2.054218,D
4,17,female,caucasian,some-college,4.672495,17,true,high,false,false,false,false,1.288061,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,18,female,caucasian,bachelors,10.680555,2,false,very high,true,false,false,false,3.455509,A
2388,17,male,caucasian,high-school,7.583217,4,true,very high,false,true,false,false,3.279150,F
2389,16,female,caucasian,some-college,6.805500,20,false,moderate,false,false,false,true,1.142333,C
2390,16,female,african-american,none,12.416653,17,false,moderate,false,true,true,false,1.803297,B
2391,16,female,caucasian,some-college,17.819907,13,false,moderate,false,false,false,true,2.140014,B

In [11]:
df.to_csv('Resourse/updated_data.csv', index=False)

In [12]:
# Model Training

In [53]:
#Drop some columns
df_model = df_model.drop(columns=['StudentID', 'GradeClass'])
df_model.head()

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA
0,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196
1,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915
2,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602
3,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218
4,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061

In [54]:
#Drop the target column
y = df_model['GPA']

X = df_model.drop(columns=['GPA'])

In [55]:
y.value_counts()

GPA
0.000000    16
4.000000     7
2.929196     1
2.527607     1
2.167615     1
            ..
1.687900     1
2.952146     1
0.963375     1
3.334972     1
2.140014     1
Name: count, Length: 2371, dtype: int64

In [57]:
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=42) #Can't use stratify=y because y is continuous value
X_train.shape

(1794, 12)

In [25]:
model_data_scaled = StandardScaler().fit_transform(df_model[['Age', 'StudyTimeWeekly', 'Absences']])

model_data_scaled[0:5]

array([[ 0.47291901,  1.78033552, -0.89082237],
       [ 1.36294441,  0.99737625, -1.71769358],
       [-1.30713178, -0.98404514,  1.35354235],
       [ 0.47291901,  0.04544517, -0.06395116],
       [ 0.47291901, -0.90231145,  0.29042222]])

In [26]:
# Create a DataFrame called with the scaled data
# The column names should match those referenced in the StandardScaler step
df_model_scaled = pd.DataFrame(
    model_data_scaled,
    columns=['Age', 'StudyTimeWeekly', 'Absences']
)

# Review the DataFrame
df_model_scaled.head()

        Age  StudyTimeWeekly  Absences
0  0.472919         1.780336 -0.890822
1  1.362944         0.997376 -1.717694
2 -1.307132        -0.984045  1.353542
3  0.472919         0.045445 -0.063951
4  0.472919        -0.902311  0.290422

In [27]:
#drop the newly scaled columns and add the new scaled columns back in their place
df_scaled = df_model.drop(columns=['Age', 'StudyTimeWeekly', 'Absences'])

# df_scaled = pd.concat([df_scaled, df_model_scaled])

df_scaled['Age'] = df_model_scaled['Age']
df_scaled['StudyTimeWeekly'] = df_model_scaled['StudyTimeWeekly']
df_scaled['Absences'] = df_model_scaled['Absences']
# df_scaled['GPA'] = df_model_scaled['GPA']

df_scaled.head()

,Gender,Ethnicity,ParentalEducation,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,Age,StudyTimeWeekly,Absences
0,1,0,2,1,2,0,0,1,0,2.929196,0.472919,1.780336,-0.890822
1,0,0,1,0,1,0,0,0,0,3.042915,1.362944,0.997376,-1.717694
2,0,2,3,0,2,0,0,0,0,0.112602,-1.307132,-0.984045,1.353542
3,1,0,3,0,3,1,0,0,0,2.054218,0.472919,0.045445,-0.063951
4,1,0,2,1,3,0,0,0,0,1.288061,0.472919,-0.902311,0.290422

In [28]:
#Drop the target column
y = df_model['GPA']

X = df_model.drop(columns=['GPA'])

In [32]:
# y.iloc[:,0].value_counts()
y

0       2.929196
1       3.042915
2       0.112602
3       2.054218
4       1.288061
          ...
2387    3.455509
2388    3.279150
2389    1.142333
2390    1.803297
2391    2.140014
Name: GPA, Length: 2392, dtype: float64

In [30]:
#Split the data for training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [64]:
#Instantiate some models
models = []

#Logistic Regression Model
logistic_regression_model = LogisticRegression(random_state=42)
models.append(logistic_regression_model)

# K Means Model
k_means = KMeans(n_clusters=2)
models.append(k_means)

models

[LogisticRegression(random_state=42), KMeans(n_clusters=2)]

In [65]:
for model in models:
    model.fit(X_train, y_train)

ValueError: Unknown label type: continuous. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.